<!DOCTYPE html>
<html>
<head>
	<html lang="en-US">
	<script src="itab.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="itab.css"></link>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-animate.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body ng-app="ngAnimate">

	<div class = "front-page" id="front-page">
		<header>
			<h1>ISLA</h1>
		</header>
		<div class="pure-u-1 breaker"></div>
		<div id = "bigTabs"  class="pure-u-1">
			<div class = "bigTabs pure-u-md-7-24" id = "gmail">
				<h3>Gmail</h3>
				<p>
					<input type="button" value="MAX" ng-click="myCssVar='css-class'">
					<input type="button" value="MIN" ng-click="myCssVar=''">
					<br>
					<span ng-class="myCssVar">
						1234567890-1234567890-1234567890-1234567890-1234567890-
						1234567890-1234567890-1234567890-1234567890-1234567890-
						1234567890-1234567890-1234567890-1234567890-1234567890-
						1234567890-1234567890-1234567890-1234567890-1234567890-
						1234567890-1234567890-1234567890-1234567890-1234567890-
						1234567890-1234567890-1234567890
					</span></p>
				</div>
				<div class = "bigTabs pure-u-md-7-24" id = "trademe">
					<h3>Trade Me</h3>
					<p>
						<input type="button" value="MAX" ng-click="myCssVar1='css-class'">
						<input type="button" value="MIN" ng-click="myCssVar1=''">
						<br>
						<span ng-class="myCssVar1">
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890
						</span></p>
				</div>
				<div class = "bigTabs pure-u-md-7-24" id = "calendar">
					<h3>Calendar</h3>
					<p>
						<input type="button" value="MAX" ng-click="myCssVar2='css-class'">
						<input type="button" value="MIN" ng-click="myCssVar2=''">
						<br>
						<span ng-class="myCssVar2">
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890-1234567890-1234567890-
							1234567890-1234567890-1234567890
						</span></p>
				</div>
			</div>
			<div class="pure-u-1 breaker"></div>
			<div id = "bottom" class="pure-u-1" >
				<div class = "bottom   pure-u-md-11-24" id = "google">
					<h3>Google</h3>

				</div>
				<div class = "bottom  pure-u-md-11-24" id = "musicplayer">
					<h3>Radio</h3>
					<audio controls autoplay>
						<source src="http://lb.zenfm.be/zenfm.mp3" type="audio/mpeg">
						</audio>
					</div>
				</div>
			</div>
		</body>
		</html>
