<!DOCTYPE html>
<html>
<head>
	<html lang="en-US">
	<script src="itab.js"></script>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="itab.css"></link>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-animate.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body ng-app="ngAnimate">
	<div class="front-page" id="jumbo">
		<div class="frame" id="weather" ng-mouseenter="weatheridemenuvisable = !weatheridemenuvisable"
		></div>
		<div ng-init="weatheridemenuvisable=false">
			<div class="weathersidemenu show-hideT" ng-show="weatheridemenuvisable">A monopoly on the means of communication may define a ruling elite more precisely than the celebrated Marxian formula of monopoly in the means of production.
			</div>

			<div class="frame" id="traffic" ng-mouseenter="trafficidemenuvisable = !trafficidemenuvisable"
			></div>
			<div ng-init="trafficidemenuvisable=false">

				<div class="trafficsidemenu show-hideL" ng-show="trafficidemenuvisable" ng-mouseleave="trafficidemenuvisable = false">If one can only see things according to one's own belief system, one is destined to become virtually deaf, dumb, and blind.
				</div>

				<div class="frame" id="controller" ng-mouseenter="controlleridemenuvisable = !controlleridemenuvisable"
				></div>
				<div ng-init="controlleridemenuvisable=false">

					<div class="controllersidemenu show-hideB" ng-show="controlleridemenuvisable"  ng-mouseleave="controlleridemenuvisable = false">hi Jay, what's cracking?
					</div>

					<div class="frame" id="cams" ng-mouseenter="camsidemenuvisable = !camsidemenuvisable"
					></div>
					<div ng-init="camsidemenuvisable=false">

						<div class="sidemenu show-hideR" ng-show="camsidemenuvisable">All phenomena are real in some sense, unreal in some sense, meaningless in some sense, real and meaningless in some sense, unreal and meaningless in some sense, and real and unreal and meaningless in some sense.
						</div>
						<div class="frame" id="baseDiv">
							<header>
								<h1>ISLA</h1>
							</header>
							<div class="pure-u-1 breaker"></div>
							<div id = "bigTabs"  class="pure-u-1">
								<div class = "bigTabs pure-u-md-7-24" id = "gmail">
									<h3>Gmail</h3>
									<p>
										<input type="button" value="MAX" ng-click="myCssVar='css-class'">
										<input type="button" value="MIN" ng-click="myCssVar=''">
										<br>
										<span ng-class="myCssVar">
											1234567890-1234567890-1234567890-1234567890-1234567890-
											1234567890-1234567890-1234567890-1234567890-1234567890-
											1234567890-1234567890-1234567890-1234567890-1234567890-
											1234567890-1234567890-1234567890-1234567890-1234567890-
											1234567890-1234567890-1234567890-1234567890-1234567890-
											1234567890-1234567890-1234567890
										</span></p>
									</div>
									<div class = "bigTabs pure-u-md-7-24" id = "trademe">
										<h3>Trade Me</h3>
										<p>
											<input type="button" value="MAX" ng-click="myCssVar1='css-class'">
											<input type="button" value="MIN" ng-click="myCssVar1=''">
											<br>
											<span ng-class="myCssVar1">
												1234567890-1234567890-1234567890-1234567890-1234567890-
												1234567890-1234567890-1234567890-1234567890-1234567890-
												1234567890-1234567890-1234567890-1234567890-1234567890-
												1234567890-1234567890-1234567890-1234567890-1234567890-
												1234567890-1234567890-1234567890-1234567890-1234567890-
												1234567890-1234567890-1234567890
											</span></p>
										</div>
										<div class = "bigTabs pure-u-md-7-24" id = "calendar">
											<h3>Calendar</h3>
											<p>
												<input type="button" value="MAX" ng-click="myCssVar2='css-class'">
												<input type="button" value="MIN" ng-click="myCssVar2=''">
												<br>
												<span ng-class="myCssVar2">
													1234567890-1234567890-1234567890-1234567890-1234567890-
													1234567890-1234567890-1234567890-1234567890-1234567890-
													1234567890-1234567890-1234567890-1234567890-1234567890-
													1234567890-1234567890-1234567890-1234567890-1234567890-
													1234567890-1234567890-1234567890-1234567890-1234567890-
													1234567890-1234567890-1234567890
												</span></p>
											</div>
										</div>
										<div class="pure-u-1 breaker"></div>
										<div id = "bottom" class="pure-u-1" >
											<div class = "bottom   pure-u-md-11-24" id = "google">
												<h3>Google</h3>

											</div>
											<div class = "bottom  pure-u-md-11-24" id = "musicplayer">
												<h3>Radio</h3>
												<audio controls autoplay>
													<source src="http://lb.zenfm.be/zenfm.mp3" type="audio/mpeg">
													</audio>
												</div>
											</div>
										</div>
									</div>

									<div id="fountainG">
										<div id="fountainG_1" class="fountainG">
										</div>
										<div id="fountainG_1A" class="fountainG">
										</div>
										<div id="fountainG_1B" class="fountainG">
										</div>
										<div id="fountainG_2" class="fountainG">
										</div>
										<div id="fountainG_2A" class="fountainG">
										</div>
										<div id="fountainG_2B" class="fountainG">
										</div>
										<div id="fountainG_3" class="fountainG">
										</div>
										<div id="fountainG_3A" class="fountainG">
										</div>
										<div id="fountainG_3B" class="fountainG">
										</div>
										<div id="fountainG_4" class="fountainG">
										</div>
										<div id="fountainG_4A" class="fountainG">
										</div>
										<div id="fountainG_4B" class="fountainG">
										</div>
										<div id="fountainG_5" class="fountainG">
										</div>
										<div id="fountainG_5A" class="fountainG">
										</div>
										<div id="fountainG_5B" class="fountainG">
										</div>
										<div id="fountainG_6" class="fountainG">
										</div>
										<div id="fountainG_6A" class="fountainG">
										</div>
										<div id="fountainG_6B" class="fountainG">
										</div>
										<div id="fountainG_7" class="fountainG">
										</div>
										<div id="fountainG_7A" class="fountainG">
										</div>
										<div id="fountainG_7B" class="fountainG">
										</div>
										<div id="fountainG_8" class="fountainG">ISLA
										</div>
									</div>
								</div>
							</div>
						</body>
						</html>
