<table>
  <tr id="info1">
    <td>lunch is gonna be cheese</td>
    <td>have a weet bix or 4 mate</td>
    <td>ICE CREAM FOR DINNER!!</td>
    <td>START DIET NEXT WEEK</td>
  </tr>
  <tr id="info2">
    <td>out side temp</td>
    <td><img src="http://blog.bindows.net/wp-content/uploads/2007/12/gauge_w_label_400t.png"></img></td>
    <td>HWC temp</td>
    <td><img src="http://blog.bindows.net/wp-content/uploads/2007/12/gauge_w_label_400t.png"></img></td>
  </tr>
  <tr id="info3">
    <td>9dfgdfgdsgdgsdgs</td>
    <td>8dfgdfgdfgdfg</td>
    <td>dfgdfgsffffgfgdf,gmjdfgjkhdfgjkh</td>
    <td>dfgdfglhdglkdgdlfghgjhidfgjhdlkghj</td>
  </tr>
  <tr id="info4">
    <td>dfgdfgdfgdaghdfhdfhdfz</td>
    <td>dfgdfgdfgdfgdfgdfgdfgdfg</td>
    <td>dfgdfgldkhgdlfgjdfkgjhdfkgjhdfglhjk</td>
    <td>just kidding</td>
  </tr>
  <tr id="navigation">
    <td><%= link_to image_tag("http://auclc.com/Home_Button.png"), {:controller => 'home', :action => "index" } %></td>
    <td><%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/plump-by-zerode_/256/Control-Panel-icon.png"), {:controller => 'home', :action => "control" } %></td>
    <td><%= link_to image_tag("http://images.clipartpanda.com/gauge-clipart-gauge-for-temperature-3-hi.png", :width=>250), {:controller => 'home', :action => "monitor" } %></td>
  </tr>

</table>
